* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: #313438;
}

.wrapper {
	padding: 50px;
	width: auto;
	background-image: linear-gradient(#1a6fd1b4, #4787be);
	color: #fff;
	text-align: center;
	border: 1px solid #2d2f33;
	border-radius: 15px;
	box-shadow: 0 0 15px #1c232d;
}

.wrapper h1 {
	font-size: 60px;
	background-image: url(../);
}

.wrapper p {
	margin-bottom: 10px;
	font-size: 20px;
}

.app-body {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.section i {
	font-size: 200px;
	transition: color 0.3s;
	cursor: pointer;
}

.section {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
}

.section i:hover {
	color: #969da5b4;
}

.section p {
	margin-bottom: 10px;
	font-size: 18px;
}

.section .title {
	margin-bottom: 10px;
	font-size: 24px;
}

.wrapper .rate-info {
	margin-top: 30px;
	margin-bottom: 0;
}

/* Modal faster driver */

.add-driver-panel h2 {
	margin-bottom: 20px;
}

.add-driver-panel .driverChartcontainer {
	width: 800px;
	height: 400px;
	background-color: #fff;
	border-radius: 5px;
}

.cancel {
	margin: 60px;
	padding: 15px 40px;
	font-size: 18px;
	color: #fff;
	border: 1px solid #fff;
	background: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.cancel:hover {
	background-color: rgb(25, 27, 51);
}

/* Modal speedMeasure */

.panel-section{
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: linear-gradient(315deg, #4c4177 0%, #2a5370 74%);
}

.add-speedMeasure-panel h2 {
	margin-bottom: 20px;
}

.speedChartcontainer {
	width: 800px;
	height: 400px;
	background-color: #fff;
}

/* Map */

.map-container {
	width: 80%;
	height: 600px;

}

/* -------------------------------- */

.add-transaction-panel h2.title {
	margin-bottom: 0;
}

.add-transaction-panel label {
	margin-top: 40px;
	margin-bottom: 5px;
	font-size: 26px;
}

.add-transaction-panel small {
	margin-bottom: 15px;
	font-style: italic;
	color: #ddd;
}

.add-transaction-panel input,
.add-transaction-panel select,
.add-transaction-panel button {
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
}

.add-transaction-panel input,
.add-transaction-panel select,
.add-transaction-panel option {
	font-size: 18px;
	width: 80%;
}

.add-transaction-panel .panel-buttons {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.add-transaction-panel button {
	margin: 0 30px;
	padding: 15px 40px;
	font-size: 18px;
	color: #fff;
	border: 1px solid #fff;
	background: none;
	transition: background-color 0.3s;
}

.add-transaction-panel button:hover {
	background-color: rgb(25, 27, 51);
}
